body {
  background: url(D:\my-app\my_weather\src\img\fon48.png) center no-repeat;
  font: 1em 'PT Sans', 'arial', 'tahoma';
 
}

.App {
  text-align: center;
}

.App-header {
  background: url(D:\my-app\my_weather\src\img\fon44.png);
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#span_position {
  margin-left: 20px;
}

.logo_box {
  background: url(D:\my-app\my_weather\src\img\meteo.png) left no-repeat;
  background-position: 10px;
  background-size: 50%;
  position: relative;
  flex-basis: 30%;
  height: 90px;
}

.inp_search {
  position: absolute; 
  width: 50%;
  bottom: 31px; 
  left: 18.5%;
}

.p_search_massage {
  position: absolute;
  left: -7%;
  top: 22px;
  font-size: smaller
}

.ul_search {
  
  position: absolute;  
  top: 70px; 
  width: 47%; 
  left: 17%;
  list-style: none; 
  margin: 0; 
  text-align: start; 
  color: black; 
  max-height: 50px; 
  height: auto; 
  overflow: auto; 
}

.li_search {
  margin-left: -35px; 
  padding: 5px;
}   

.li_search:hover {
  background: #b4bbcb; 
  cursor: pointer; 
  transition: cubic-bezier(1, 0, 0.165, 1) .2s all;
}

.b_search {
  position: absolute; 
  bottom: 31px; 
  cursor: pointer; 
  left: 70.3%;
  border: 1.5px solid black;
  border-radius: 7%; }

.b_search:active {
    bottom: 31.5px; 
    box-shadow: 0 5px 20px rgba(8, 9, 12, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);

  }

.position {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 10;
  background-color: greenyellow;
  opacity: 1;
  height: 100px;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 12.5px;
  color: black;
  flex-basis: 30%; 
}

.position:hover {
  cursor: pointer;
  
}

.position_p {
margin-top: 20px;
font-weight: bold;
}

.position_button {
  width: 50px;
  height: 20px;
  cursor: pointer;
  border-radius: 5%;
  border-width: 1px
}

.position_button:hover {
  animation: heartBeat;
  animation-duration: 1s;
  background-color: aquamarine;
  border-width: 1.5px
}

.position_button:active{
  box-shadow: 0 5px 20px rgba(8, 9, 12, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.city {
  font-size: .7em; 
  flex-basis: 35%; 
  height: 100px; 
  position: relative 
}

.cityName {
margin-left: 10px;
}

#span_city {
  position: absolute; 
  top: 20%; 
  left: 40%;
  
}

.separate {
  margin-top: 10px;
  height: 50px;
  text-align: left;
}

.separate button {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/triangles_pattern.png);
  font-size: 1.1em;
  width: 48.5%;
  height: 100%;
  margin-left: 1%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(8, 9, 12, 0.5), inset 0 3px 10px white,
   inset 2px 3px 10px rgb(147, 172, 207), 3px 3px 10px rgba(0, 0, 0, 0.5); 
}

.separate button:hover {
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(39, 71, 232, 0.5),
  inset 0 2px 10px rgba(102, 45, 186, 0.3), 0 5px 20px rgba(8, 9, 12, 0.5)
}

.separate button:active {
box-shadow: 0 5px 20px rgba(8, 9, 12, 0.5), 3px 3px 10px rgba(0, 0, 0, 0.5);
line-height: 49px;
border: 0.7px solid black;
}
/* /-------------------------------DAYS----------------------------------/ */
.App-days {
  margin-top: 10px;
  display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
}

.day {
  position: relative;
  background-color: #cccfd6;
  border-radius: 5%;
  flex-basis: 18%;
  height: 225px;
  font-size: 15px;
  padding-left: 10px;
  text-align: left;
  overflow: hidden;
}

.day:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #91949c;
  box-shadow: 3px 3px 10px rgba(39, 71, 232, 0.5),
  inset 5px 5px 10px rgba(102, 45, 186, 0.3); 
  border: solid 1px rgb(1, 1, 1);
  height: 300px;
  transition: all 0.5s ease-in-out; 
}

.p_description {
  text-align: center;
  position: absolute;
  bottom: 0%;
  right: 30%;
}

#p_date {
  text-align: center;

}

.full img {
  position: absolute;
  bottom: 5%;
  right: 30%;
}

.full {
  position: absolute;
  left: 0;
  bottom:0;
  right:0;
  top:0;
  color: #cccfd6;
  border: none;
  flex-basis: 18%;
  height: 225px;
  font-size: 15px;
  z-index: 1;
}

.p_full {
  margin-top: 120px;
  padding-left: 10px;
  text-align: left;
}

.full:hover {
cursor: pointer;
color: black;
height: 300px;
transition: all 0.5s ease-in-out;
}
/* -------------------------------------------Hours------------------------------------- */
.hour {
  position: relative;
  background-color: #c0c7d7;
  border-radius: 1%;
  width: 57%;
  height: 60px;
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 3px;
  padding-left: 10px;
  text-align: left;
  overflow: hidden;
}

.hour:hover {
  transform: scaleY(1.2);
  width: 75%;
  background-color: #91949c;
  margin-left: 12.5%;
  /* transform: translateX(12.5%); */
  box-shadow: 0 3px 10px rgba(39, 71, 232, 0.5),
  inset 0 2px 10px rgba(102, 45, 186, 0.3); 
  border: solid 1px grey;
  transition: all 0.5s ease-in-out; 
}
 
.hour p {
  padding-top: 10px;
}

.hour p span {
  margin-left: 10px;
}

.img_description {
  position: absolute;
  right: 17%;
  top: 23px;
}

.hour p img {
  position: absolute;
  right: 1%;
  top: -17px;
}

.full_hour {
  position: absolute;
  left: 0;
  bottom:0;
  right:0;
  top:0;
  color: #c0c7d7;
  border: none;
  flex-basis: 18%;
  height: 60px;
  width: 100%;
  font-size: 12px;
  opacity: 0;
  z-index: 1;
}

.span_full_hour {
  position: absolute;
  top: 38%;
  padding-left: 51%;
}

.full_hour:hover {
cursor: pointer;
color: black;
transition: all 0.5s ease-in-out; 
opacity: 1;
}

#data {
  margin-top: 0%;
}

.div_center {
  width: 100%;
  height: 225px;
  /* background: url(D:\my-app\my_weather\src\img\logo512.png) center no-repeat ;
  background-size: 30%; */
}

footer {
  position: absolute ;
  width: 100%;
  height: 50px;
  background: #020f28;
  margin-bottom: 0%;
  padding-top: 20px;
}

footer a {
color: white;
margin: 10px;
font-size: 14px;
}

footer nav a:hover {
  transition: .3s;
  font-size: 1.1em;

}

/* .footer_logo {
  background: url(D:\my-app\my_weather\src\img\favicon.ico) center no-repeat;
  width: 10%;
  height: 60px;
  margin-left: 20px;
  margin-top: -35px;
  animation: App-logo-spin 3s infinite linear;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
@media only screen and (min-width : 734px) 
and (max-width : 1024px) and (orientation: landscape ) {
  body {
    font-size: small;
  }
  .App-header {
height: 70px;
  }
  .position {
    margin-top: 2%;
    font-size: .5em;
  }
  .city {
    margin-top: 7px;
    font-size: .5em;
  }
  #span_city {
    margin-top: 4%;
  }
  .separate {
    height: 40px;
  }
  .separate button:active {
    line-height: 39px;
    }
  .day {
    height: 175px;
    font-size: .8em;
  }
  .day:hover {
    height: 195px;
  }
  .p_description {
    bottom: 0%;
    right: 35%;
  }
  #p_date {
    text-align: center;
  
  }
  .full img {
    bottom: 0;
    right: 15%;
  }
  .full {
    height: 175px;
    font-size: 1em;
  }
  .p_full {
    margin-top: 80px;
  }
  .full:hover {
  height: 195px;
  }
  .hour {
    width: 57%;
    height: 55px;
    font-size: .7em;
    margin-bottom: 3px;
  }
  .hour:hover {
    width: 55%;
    margin-left: 20%;
  }
  .hour p {
    padding: 10px;
  }
  .hour p span {
    margin-left: px;
  }
  #hour_p_b1{
    margin-left: 5%;
  }
  #hour_p_b2 {
    position: absolute;
    top: 63%;
    left: 3%;
  }
  #hour_p_span1 {
    margin-left: 6%;
  }
  .img_description {
    position: absolute;
    right: 20%;
    top: 32px;
  }
  .hour p img {
    position: absolute;
    top: -20px;
  }
  .full_hour {
    height: 55px;
    font-size: 1em;
  }
  .span_full_hour {
    top: 60%;
    padding-left: 25%;
  }
}

@media only screen and (min-width : 734px) 
and (max-width : 1024px) and (orientation: portrait ) {
  body {
    font-size: small;
  }
  .App-header {
height: 70px;
  }
  .position {
    margin-top: 2%;
    font-size: .4em;
  }
  .city {
    margin-top: 7px;
    font-size: .5em;
  }
  #span_city {
    margin-top: 4%;
  }
  .separate {
    height: 40px;
  }
  .separate button:active {
    line-height: 39px;
    }
  .day {
    height: 175px;
    font-size: .8em;
  }
  .day:hover {
    height: 195px;
  }
  .p_description {
    bottom: 0%;
    right: 35%;
  }
  #p_date {
    text-align: center;
  
  }
  .full img {
    bottom: 0;
    right: 15%;
  }
  .full {
    height: 175px;
    font-size: 1em;
  }
  .p_full {
    margin-top: 80px;
  }
  .full:hover {
  height: 195px;
  }
  .hour {
    width: 57%;
    height: 55px;
    font-size: .7em;
    margin-bottom: 3px;
  }
  .hour:hover {
    width: 55%;
    margin-left: 20%;
  }
  .hour p {
    padding: 10px;
  }
  .hour p span {
    margin-left: px;
  }
  #hour_p_b1{
    margin-left: 5%;
  }
  #hour_p_b2 {
    position: absolute;
    top: 63%;
    left: 3%;
  }
  #hour_p_span1 {
    margin-left: 6%;
  }
  .img_description {
    position: absolute;
    right: 20%;
    top: 32px;
  }
  .hour p img {
    position: absolute;
    top: -20px;
  }
  .full_hour {
    height: 55px;
    font-size: 1em;
  }
  .span_full_hour {
    top: 60%;
    padding-left: 25%;
  }
}

@media only screen and (min-width : 660px) 
and (max-width : 733px) {
  body {
    font-size: small;
  }
  .App-header {
height: 60px;
  }
  .position {
    margin-top: 4%;
    font-size: .5em;
  }
  .city {
    margin-top: 7px;
    font-size: .5em;
  }
  #span_city {
    margin-top: 4%;
  }
  .separate {
    height: 30px;
  }
  .separate button:active {
    line-height: 29px;
    }
  .day {
    height: 175px;
    font-size: .8em;
  }
  .day:hover {
    height: 195px;
  }
  .p_description {
    bottom: 0%;
    right: 35%;
  }
  #p_date {
    text-align: center;
  
  }
  .full img {
    bottom: 0;
    right: 15%;
  }
  .full {
    height: 175px;
    font-size: 1em;
  }
  .p_full {
    margin-top: 80px;
  }
  .full:hover {
  height: 195px;
  }
  .hour {
    width: 57%;
    height: 55px;
    font-size: .7em;
    margin-bottom: 3px;
  }
  .hour:hover {
    width: 60%;
    margin-left: 20%;
  }
  .hour p {
    padding-top: 10px;
  }
  #hour_p_b1{
    margin-left: 5%;
  }
  #hour_p_b2 {
    position: absolute;
    top: 63%;
    left: 3%;
  }
  #hour_p_span1 {
    margin-left: 6%;
  }
  .img_description {
    position: absolute;
    right: 20%;
    top: 60%;
  }
  .hour p img {
    position: absolute;
    top: -20px;
    right: -3%;
  }
  .full_hour {
    height: 55px;
    font-size: 1em;
  }
  .span_full_hour {
    top: 60%;
    padding-left: 23.5%;
  }
}

@media only screen and (min-width : 350px) 
and (max-width : 415px) {
  body {
    font-size: small;
  }
  .App-header {
height: 60px;
  }
  .logo_box {
flex-basis: 20%;
  }
  .position {
    flex-basis: 35%;
    margin-top: 8%;
    font-size: .4em;
  }
    .position_button {
      width: 40px;
      height: 15px;
    }
  .city {
    flex-basis: 35%;
    margin-top: 7px;
    font-size: .5em;
    height: 90px; 
  }
  #span_city {
    width: 50%;
    color: black;
    left: 155%;
    margin-top: 90%;
  }
   
  .p_search_massage {
    left: 40%;
    top: 30px;
    font-size: 1em;
  }
  .ul_search {
    top: 190%; 
    width: 45%; 
    left: 164%;
    max-height: 50px; 
  }
  
  .li_search {
    margin-left: -35px; 
    padding: px;
  }   

  .inp_search {
    top: 170%;
    margin-left: 150%;
    height: 10%;
}
  .b_search {
    bottom: -86.5%;
    left: 137%;
    border: 1.2px solid black;
  }
  .b_search:active {
    bottom: -85.5%; 
  }
  .separate {
    height: 30px;
  }
  .separate button {
    font-size: .9em;
  }
  .separate button:active {
    line-height: 29px;
    }
    .App-days {
      margin-top: 5%;
      display: block
    }
  .day {
    margin-top: 2%;
    background-color: #91949c;
    margin-left: 2%;
    width: 40%;
    height: 195px;
    font-size: .8em;
  }
  .day:hover {
    height: 195px;
  }
  .p_description {
    bottom: 0%;
    right: 35%;
  }
  #p_date {
    text-align: center;
  
  }
  .full img {
    bottom: 0;
    right: 15%;
  }
  .full {
    color: black;
    height: 195px;
    font-size: 1em;
  }
  .p_full {
    margin-top: 80px;
  }
  .full:hover {
  height: 195px;
  }
  .hour {
    width: 60%;
    height: 55px;
    font-size: .5em;
    margin-bottom: 3px;
  }
  .hour:hover {
    width: 60%;
    margin-left: 2.5%;
  }
  .hour p {
    padding-top: 10px;
  }
  #hour_p_b1{
    margin-left: 5%;
  }
  #hour_p_b2 {
    position: absolute;
    top: 63%;
    left: 3%;
  }
  #hour_p_span1 {
    margin-left: 6%;
  }
  #hour_p_span2 {
    position: absolute;
    top: 63%;
    left: 26%;
  }
  .img_description {
    position: absolute;
    right: 21%;
    top: 45%;
  }
  .hour p img {
    position: absolute;
    top: 0;
    right: -1%;
    width: 50px;
    height: 50px;
  }
  .full_hour {
    display: none;
  }
}
