.App {
  text-align: center;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

span {
  margin-left: 20px;
}
.city {
  font-size: small;
  margin-left: 70px;
}

.position {
  width: 250px;
  height: 80px;
  margin-left: auto;
  margin-right: 20px;
  background-color: chartreuse;
  border-radius: 10px;
  font-size: 12.5px;
  color: black;
}

.position_p {
margin-top: 5px;
font-weight: bold;
}

.position_button {
  width: 50px;
  height: 20px;
  cursor: pointer;
}

.cityName {
margin-left: 10px;
}

.Separate {
  height: 50px;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-days {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
}

.day {
  background-color: #cccfd6;
  border: solid black .5px;
  border-radius: 5%;
  flex-basis: 19%;
  height: 255px;
}

#data {
  margin-top: 0%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
